/* כללי עיצוב */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  direction: rtl; /* כיוון טקסט מימין לשמאל */
}

/* עיצוב ה-nav */
nav {
  background-color: #BFD6C4E6; /* צבע רקע ירוק-בהיר */
  width: 100%;
  padding: 30px 30px;
  display: flex;
  justify-content: flex-start; /* מתחיל את התפריט בצד שמאל */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* עיצוב לשם בתוך ה-nav */
.name {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-right: auto; /* דואג שהשם יישאר בצד ימין */
}

/* תפריט כפתורים */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto; /* העברת התפריט לצד ימין */
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 18px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #A2B9A5;
  border-radius: 8px;
}

/* מרכז את הטקסט בדף */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.wellcome-hungry {
  font-size: 50px;
  color: #333;
  margin-bottom: 20px;
}