.hungry-logo-food
{
  height: 490pxpx;
  width:738px ;
  padding-left: 5px ;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  transition: 0.3s ease-in-out;
}
.hungry-logo-food:hover
{
  filter: brightness(1.1);
}
.hungry-logo-food a
{
  text-decoration: none;
}
