body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #BFD6C4E6; /* צבע רקע ירוק-בהיר */
  width: 100%; /* לוודא שהרקע מתפרס על כל הרוחב */
  padding: 30px 30px; /* שמתי padding קטן יותר בצד ימין */
  display: flex;
  justify-content: space-between; /* מרווח בין השם לתפריט */
  align-items: center;
  position: fixed; /* קיבוע של התפריט בחלק העליון */
  top: 0; /* שים את התפריט בראש */
  left: 0; /* שים את התפריט מהצד השמאלי */
  right: 0; /* ודא שהתפריט יתפוס את כל הרוחב */
  z-index: 1000; /* מוודא שהתפריט תמיד יהיה מעל לתוכן */
}

.name {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  padding-left: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 50px;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding : 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #A2B9A5;
  border-radius: 8px;
}